In [ ]:
SELECT 
    SUM(pc.population_count) AS population_count,
    p.id,
    p.display_name
FROM 
    territory_join tj
JOIN 
    population_census pc ON tj.id = pc.territory_id
JOIN 
    population p ON p.id = pc.population_id
WHERE 
    tj.block_id = :block_id AND 
    tj.district_id = :district_id AND 
    p.id IN (2, 3) -- 2 = 'male', 3 = 'female'
GROUP BY 
    tj.block_id,
    tj.district_id,
    p.id,
    p.display_name,
    p.population_type;

In [ ]:
SELECT 
    COALESCE(bl.count, SUM(lc.livestock_count), 0) AS livestock_count,
    l.livestock_name,
    l.id AS livestock_id,
    l.coefficient AS coefficient
FROM 
    livestocks l
LEFT JOIN 
    block_livestocks bl ON bl.livestock_id = l.id AND bl.bt_id = 1
LEFT JOIN 
    livestock_census lc ON lc.livestock_id = l.id
LEFT JOIN 
    territory_joins tj ON tj.id = lc.tj_id AND tj.block_id = 2074 AND tj.district_id = 745
GROUP BY 
    l.id,
    bl.count,
    l.livestock_name,
    l.coefficient
ORDER BY 
    l.livestock_name;

In [ ]:
SELECT 
    coalesce (bc.area ,SUM(cc.crop_area),0) AS crop_area,
    c.id AS crop_id,
    c.coefficient,
    c.crop_name
FROM 
    crops c
LEFT JOIN 
    crop_census cc ON cc.crop_id = c.id
LEFT JOIN 
    territory_joins tj ON tj.id = cc.territory_id and tj.block_id = 2074 and tj.district_id = 745
left join 
	block_crops bc on bc.crop_id = c.id and bc.bt_id=1
GROUP BY 
    c.id, c.coefficient, c.crop_name,bc.area
order by 
	crop_name

In [ ]:
SELECT 
    coalesce(bw."storage",SUM(wc.storage_capacity),0) AS storage_capacity,
    coalesce (bw.count ,COUNT(wc.waterbody_id),0) AS waterbody_count,
    wt.id AS waterbody_id,
    wt.waterbody_name
FROM 
    waterbodies_census wc
LEFT JOIN
    waterbody_types wt ON wt.id = wc.waterbody_id
LEFT JOIN
    territory_joins tj ON tj.id = wc.tj_id and tj.block_id = 2074 and tj.district_id = 745
left join 
	block_waterbodies bw on bw.wb_type_id = wt.id and bw.bt_id = 1
GROUP BY 
    wt.id, wt.waterbody_name,bw."storage" ,bw.count;

In [ ]:
SELECT 
    ge.extractable,
    coalesce(bg.extraction,ge.extraction) as extraction,
    ge.stage_of_extraction,
    ge.category,
    ge.block_id AS block_id
FROM 
    groundwater_extractions ge
inner JOIN 
    blocks b ON b.id = ge.block_id
INNER JOIN 
    districts d ON d.id = ge.district_id
inner join 
	block_territory bt on bt.block_id = ge.block_id 
left join 
	block_groundwater bg on bg.bt_id = bt.id and bg.bt_id=1
WHERE 
    ge.block_id = 2074
    AND d.id = 745;